<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/xmlschema-instance"
xsi:schemaLocaton="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beas.xsd">
<bean id="commuication" class="com.infotech.service.communication">
<constructor-arg name="activeMQMessage" ref="activeMQMessage">
</constructor-arg>
</bean>
<bean id="activeMQMessage" class="com.infotech.message.ActiveMQMessage">
</bean>

</beans>